[2017-09-28 12:14] AnupKumarPanwar opened #4 "Add more Algorithms"
Please add more algorithms to this repo.

See the structure and README of this repo for reference
https://github.com/TheAlgorithms/Python

[2017-09-28 16:27] DanGarcia595 commented on #4
I have some implementations that I made in my CIS class last year that I can add.

[2017-09-28 16:31] dynamitechetan commented on #4
sure

[2017-09-28 17:43] brainsnail commented on #4
Anything in particular you'd like to see added?

[2017-09-28 17:51] jrolheiser-va commented on #4
I'd like to contribute, but also think this project could use some restructuring to make it more similar to the other ones in https://github.com/TheAlgorithms. Like breaking out files into common groups like `sorting`, `searching`, `network flow`, etc..

I am also a big fan of unittests for stuff like this. Not sure what others think.

[2017-09-28 17:54] dynamitechetan commented on #4
@brainsnail Feel free to add whatever you like.

[2017-09-28 20:22] EyesBear commented on #4
Interested.

[2017-09-28 20:56] himanshub16 commented on #4
Hey,
I would like to add the following topics:
* LinkedList
* Stack
* Queue
* Binary Tree

Will add more to the list if possible. :smiley:

[2017-09-29 06:08] AnupKumarPanwar opened #5 "Travis CI"
Add a .travis.yml file to this repository.
Refer to this doc https://docs.travis-ci.com/user/languages/go/

[2017-09-29 07:03] karuppiah7890 commented on #5
@AnupKumarPanwar Travis CI is especially for building and testing applications right ? But there are no tests in this repo code

[2017-09-29 07:34] #5 closed

[2017-09-29 10:01] niranjan92 commented on #4
I can add topological sort :)

[2017-10-11 14:23] dynamitechetan opened #22 "2 implementation of linked lists"
2 implementation of linked lists are present please convert them in 1 folder. or delete the repetitive one.

[2018-03-28 04:17] shady831213 commented on #4
Add some data structure:).
add fibonacci heap, reduced-space-vanEmdeBoas-tree and disjoint-set-tree #31

[2018-10-09 03:06] EduardoGR commented on #22
I am going to get this issue! :)

[2018-10-09 18:38] EduardoGR commented on #22
Issue done the following PR
https://github.com/TheAlgorithms/Go/pull/35 !

[2018-10-09 18:47] eduardogr opened #36 "Improve package organizations"
There's a lot of main packages in this project

sorts/Heapsort.go:1:package main
....
....
other/PasswordGenerator.go:5:package main
other/PrimeNumbers.go:1:package main

We can improve this package organization to let each package have its place

[2018-10-09 18:52] eduardogr opened #37 "Remove func main in files and add tests"
An improve in this repository could be remove commented main functions and add tests for the code in order to provide examples and let the code be executable easily

[2018-10-24 08:16] LockGit commented on #4
have some easy go [implementation](https://github.com/LockGit/Go)
https://github.com/LockGit/Go

[2018-10-24 20:33] AmrDeveloper opened #40 "Add Bogo Sort Algorithm"
Add Bogo Sort Algorithm implementation

[2019-01-13 16:57] subsr97 commented on #40
Added Bogo Sort and Sleep Sort [Pull #44](https://github.com/TheAlgorithms/Go/pull/44)

[2019-01-19 16:42] #40 closed

[2019-03-07 16:04] anand371 commented on #4
would adding kadanes largest sum contiguous sub array algorithm be a good idea?

[2019-09-30 02:43] keob opened #50 "Traversal is error of binary-tree.go."
Traversal is error of binary-tree.go.
[code]

[2019-10-26 06:19] xenowits opened #73 "graph algorithms are not added? Do we need to add them?"

[2019-11-02 13:20] walter-ind opened #90 "Add license to the repository."
Adding license to the repository officially allows the developers/coders to modify and enhance the code.
If you allow me, I will submit a PR which will add license to this repository and hence close this issue.

[2019-11-02 13:20] walter-ind commented on #90
@yanglbme Have a look at it.

[2019-11-03 01:54] yanglbme commented on #90
ok @walter-ind

[2019-11-03 02:14] walter-ind commented on #90
@yanglbme See my pull request.

[2019-11-03 02:21] #90 closed

[2019-11-16 18:05] AtaAtasoy opened #93 "Do I need push access ? How to gain ?"
I added some functions to binary-search-tree but not able to push. It says I do not have access.  Is this the problem or something unrelated ?

[2019-11-18 10:46] #93 closed

[2019-11-28 04:59] cclauss opened #96 "golangci-lint: iterBinarySearch and binarySearch are unused"
__golangci-lint run --no-config searches__
[code]

[2019-11-29 14:13] Abuubkar commented on #50
What error do you encounter? and does it still not fixed if not tell me i will fix it

[2019-11-29 15:38] keob opened #97 "Traversal is error of binary-tree.go."
## Traversal is error of binary-tree.go.

[2019-11-29 15:43] #50 closed

[2019-11-29 15:46] keob commented on #50
I am sorry to turn off the issues.Before i new issues in #97 to fix it.
________________________________
发件人: Abubakar Khawaja <notifications@github.com>
发送时间: 2019年11月29日 22:13
收件人: TheAlgorithms/Go <Go@noreply.github.com>
抄送: babybug <bugbinbo@outlook.com>; Author <author@noreply.github.com>
主题: Re: [TheAlgorithms/Go] Traversal is error of binary-tree.go. (#50)

What error do you encounter? and

[2019-12-01 00:56] c4llmeco4ch opened #99 "Multiple versions of the same algorithm"
For example, in sort, there are 2 selection sorts and 2 insertion sorts. Besides minor differences in formatting, these files are identical. Not sure which should be kept and which should be deleted.

[2020-05-25 18:24] brayo-pip opened #130 "Merging and review of PR's is taking too long"
I feel that the rate at which PRs are merged will have a huge impact on the growrate of this repo's codebase. Right now we are still implementing the basic algorithms, and it really should not take this long to review our commits. You could also grant write access to the more active developers,xd.

[2020-06-06 10:25] halafi opened #134 "String matching"
Few years back I implemented common [string matching algorithms](https://github.com/halafi/string-matching) in Go, seems like they belong here, would a PR be welcomed or is this no longer actively maintained?

Python equivalents are [here](https://github.com/TheAlgorithms/Python/tree/master/strings)

[2020-06-08 02:56] richerdyoung opened #137 "I need php"
I can't find a place to say my needs, so say it here : I need php ,

[2020-06-11 04:35] #134 closed

[2020-06-18 08:45] rajneesh44 opened #145 "Need more test files"
Need to write test.go files for the following ```unmarked``` directories as we are using non-executable packages. (no ```package main``` at the top)
* [ ] ciphers
* [ ] data-structures
* [ ] dynamic-programming
* [ ] other
* [x] searches
* [x] sorts
* [ ] strings

[2020-06-18 12:07] cclauss opened #149 "Naming issues in the strings directory"
@halafi Can you please make some changes in https://github.com/TheAlgorithms/Go/tree/master/strings ?

1. The directories contain spaces instead of dashes in the directory names.  This forces us to [quote the directory names](https://github.com/TheAlgorithms/Go/blob/master/.github/workflows/golangci-lint.yml#L33) when using command line tools such as linters.
2. File names need work also.  Is `ac.

[2020-06-24 14:25] mateuszz0000 commented on #130
@cclauss I am willing to help but for the few first review I will need you to help.

[2020-06-24 17:00] L3str4nge opened #152 "Code style and tests"
Hello, have you consider any code style like in https://github.com/TheAlgorithms/Python/blob/master/CONTRIBUTING.md#coding-style ? I don't see any `CONTIRBUTING.md` file in this repo. Maybe it will be worth it? How about using `gofmt`:https://golang.org/doc/effective_go.html#formatting ?

My second question is: can we add unit tests to github action? For now we only have lint check.

[2020-06-30 17:49] itsvinayak commented on #137
@AnupKumarPanwar sir, please have a look into this issue and do need full

[2020-07-04 08:15] AnupKumarPanwar commented on #137
Sure, creating a repo for it as well. BTW @richerdyoung you can join https://gitter.im/TheAlgorithms/community.

[2020-07-04 08:25] itsvinayak commented on #137
@AnupKumarPanwar now we can close this issue

[2020-07-06 03:22] #137 closed

[2020-07-06 12:45] brayo-pip commented on #152
Hey I 'go fmt-ed' most of the Repo maybe u can write the contributing.md?

[2020-07-06 12:46] brayo-pip commented on #130
am officially a member of the org am going to merge or close most these PRs now

[2020-07-06 12:58] cclauss commented on #152
`go fmt` is the standard for Go and fortunately, there is no other!

Are you folks OK with the GitHub Actions https://github.com/TheAlgorithms/Go/tree/master/.github/workflows ?

[2020-07-06 15:34] #97 closed

[2020-07-06 21:02] brayo-pip commented on #152
Am not good with GitHub actions, anyway could u find a way to automate 'go fmt' once new code is merged. I automating it with subprocess.run() in python but for some reason it doesn't work on linux. Maybe u will be luckier

[2020-07-11 17:31] brayo-pip commented on #152
Do we need custom packages such as 'sorts' package or would we rather have the main function for each file? I think most ppl don't have the time or expertise to import these custom packages and run them. Choosing to simply use the main package maybe the way to go... what do u guys think?

[2020-08-03 00:51] RaminCH opened #165 "go alg"

[2020-08-03 06:44] #165 closed

[2020-10-02 10:06] kalashshah11 opened #185 "Add A DSU data Structure Implementation in GoLang"
I have implemented Disjoint Set Union in GoLang.
Wanted to Contribute here.

[2020-10-02 10:11] nomisrevol commented on #185
You're welcome. Let create a Pull request and assign me to review. Thank you.

[2020-10-02 10:30] kalashshah11 commented on #185
I created a Pull Request #186  @nomisrevol . Also due to multiple main declarations in Levenstein Distance, all recent Pull Request tests are getting failed.

[2020-10-07 00:42] willdavsmith opened #198 "Proposal: Testing revamp"
I was looking over this repository and I noticed that lots of the files have commented out testing methods, however some have no proper tests. It seems to me that there's no centralized testing for the repository, and I think that it would be beneficial.

Proposal:
* Centralized testing (go test) for entire project at once
* Integration with CI (Github actions - test and lint on each new PR)
* Cod

[2020-10-07 04:59] vedantmamgain commented on #198
Alongside Centralized testing, I believe a README containing benchmark of all the sorts and searches must be added as well.

[2020-10-08 17:07] localleon commented on #36
+1

This would also fix all the failed golangci-lint test. Currently they fail because multiple people use the package main.

[2020-10-08 23:57] nomisrevol commented on #36
It's a good idea. I'm trying to fix this (both package and filename convention). I'm starting with sorts. You're welcome to help with other parts.

[2020-10-09 17:21] enrinal commented on #198
I think it's good idea for centralized testing.

[2020-10-10 12:02] #22 closed

[2020-10-11 06:58] piyushs2894 commented on #149
@cclauss I have fixed the issues 1 and 2 and looking for 3rd as well. Can u please review and merge below PR for the same with "hacktoberfest-accepted" label.
https://github.com/TheAlgorithms/Go/pull/209

[2020-10-11 07:14] piyushs2894 commented on #149
@cclauss Regarding golandci-lint failure, it is failing as in single_string_matching and multiple_string_matching directory, some methods like main, commandLineInput, and many more more are redeclared. Go does not allow same method name in single package. Is it has to be fixed ?

[2020-10-11 08:55] cclauss commented on #198
Nice initiative -- I am highly supportive.  Let's get the continuous integration tests passing again.  Merging PRs when tests are failing is just dangerous.  @Mystigan, can you please help to make this happen?

[2020-10-11 15:49] Mystigan commented on #198
@cclauss , I agree with the points made.
- We can begin our cleanup with the files that are failing the CI test(from the strings folder AFAIK) and proceed from there.
- About centralized testing and adding it as part of CI, I would need some help with this as I haven't done this before.
- Also, to ensure it doesn't  turn ugly again, we should setup a set of guidelines for contributors so that they

[2020-10-12 04:46] Mystigan commented on #198
So I have fixed the issues in the two files in strings folder which were causing the ci lint to fail. But for existing PRs, how do we update them? Will running `git pull upstream master` and then a `git push origin master` work? Or is there any other way to get this done?

[2020-10-12 05:51] vedantmamgain commented on #198
@Mystigan  The math folder isn't included in the ci YAML file. Can you fix that?

[2020-10-12 15:56] Mystigan commented on #198
As mentioned in #221 , entries for each sub folder in "math" has been added in CI lint yaml file. Once the issue with sieve.go is fixed, we can replace these entries with a single recursive entry for "math".

[2020-10-14 17:44] #4 closed

[2020-10-14 17:47] #99 closed

[2020-10-14 17:52] #73 closed

[2020-10-14 18:14] cclauss commented on #198
In looking through our open issues, I see that most of them are [`automated testing` related](https://github.com/TheAlgorithms/Go/issues?q=is%3Aissue+is%3Aopen+label%3A%22automated+testing%22).  Please read thru the issues with this label and try to unify them under this ___tracking issue___.  Please maintain an up-to-date task list at the top of this issue so we can all see the work plan and stat

[2020-10-16 04:39] addy1997 opened #226 "PR review is taking way too long"

[2020-10-16 05:13] Mystigan commented on #226
@addy1997 , your PR for radix sort was opened roughly an hour ago.
In general, reviews and merges may be affected by:
- time zone differences.
- Multiple PRs addressing same issue/algorithm. We have to review each one and decide on which to merge.(This is the case for radix sort implementations. There are 4-5 PRs currently open for this.)
- Unavailability of reviewers due to some personal reason (

[2020-10-16 06:50] addy1997 commented on #226
@Mystigan Okay !!, I will be patient

[2020-10-16 18:30] Gituser143 opened #228 "Implement Fibonacci sequence in dynamic programming"
**Description**
Currently the dynamic programming examples, no implementation of Fibonacci sequence has been made. This is by far the most common and beginner friendly example for dynamic programming. I would like to implement the same.

For new implementation:
- Fibonacci sequence using dynamic programming.

[2020-10-17 07:33] #226 closed

[2020-10-30 05:44] abrahamfrancis commented on #228
Can I take this up?

[2020-11-01 02:08] IanvsPoplicola commented on #228
I've opened a PR with a pretty basic implementation of this 🙂

[2020-11-02 06:01] #228 closed

[2020-12-17 16:19] #130 closed

[2021-01-04 15:39] AnupKumarPanwar opened #257 "Update README"
**Description**
The currently README file is not appropriate. Instead of describing a few algorithms, it should contain
- general information about the repo
- link to guidelines
- directory structure

Take reference from the following README files
https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/README.md
https://github.com/TheAlgorithms/Python/blob/master/README.md

[2021-01-05 06:13] vedantmamgain commented on #257
Sure

[2021-01-13 16:48] eduardogr commented on #36
How is this going? Do you need help with this?

[2021-01-13 17:27] vedantmamgain commented on #36
@eduardogr  That would be great if you can improve the package organization.

[2021-01-16 19:01] #257 closed

[2021-02-17 00:33] tjgurwara99 commented on #96
This is because the names are not capitalised. Simple fix is to just capitalise the function names so that they are accessible in outside/external(? - not sure about the terminology).

[2021-02-17 01:00] tjgurwara99 commented on #96
This is my personal opinion, but I think the repository can be made much better if we use the standard Golang restrictions on how things are done. For example, from what I understand there are a few things that should be taken into account:

1. The first step, to clean up this whole thing would be to (re)write code so that there is no main function in any file.
2. The main thing that people want t

[2021-02-18 06:56] cclauss commented on #198
How are we doing on this issue?

[2021-02-18 09:07] cclauss opened #268 "Fix the failing rsa tests"
**Describe the bug**
A clear and concise description of what the bug is.
Fix the failing `rsa` tests so they pass and then remove `| grep -v /rsa` from
* https://github.com/TheAlgorithms/Go/blob/master/.github/workflows/golangtests.yml#L13

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and co

[2021-02-18 09:08] cclauss opened #269 "Fix the failing sbom tests"
**Describe the bug**
A clear and concise description of what the bug is.
Fix the failing `sbom` tests so they pass and then remove `| grep -v /sbom` from
* https://github.com/TheAlgorithms/Go/blob/master/.github/workflows/golangtests.yml#L13
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and c

[2021-02-18 09:09] #149 closed

[2021-02-18 09:10] cclauss commented on #96
@tjgurwara99 Can this issue now be closed?

[2021-02-18 10:01] tjgurwara99 commented on #96
Yeah it's fixed in the PR I submitted

[2021-02-18 10:21] cclauss commented on #96
If you add the magic text
Fixes: #96
-- or --
Closes #96
to your comment message then GitHub will autoclose issue #96 when your PR gets merged.

Thanks for the awesome work!

[2021-02-18 10:21] #96 closed

[2021-02-18 10:35] cclauss opened #270 "Gitpod is slow... Does anyone use it? Can we remove it?"
Our GitHub Actions lint and test our code really fast.

Gitpod runs in parallel and is slowing down our feedback to contributors that their pull requests tests pass.

Does anyone actually use Gitpod for this repo or can we remove it to speed up our turnaround time?

[2021-02-18 10:55] cclauss opened #271 "Our GitHub Action is testing github.com/tjgurwara99/Go/... not TheAlgorithms"
**Describe the bug**
@tjgurwara99
Our GitHub Action is testing github.com/tjgurwara99/Go/... not github.com/TheAlgorithms/Go/...

**To Reproduce**
Steps to reproduce the behavior:
1. Look at the path in the output of our GitHub Actions go tests.  We are testing `tjgurwara99`, instead of `TheAlgorithms`.

**Expected behavior**
A clear and concise description of what you expected to happen.
We test

[2021-02-18 10:57] tjgurwara99 commented on #271
That's because of the `go.mod` - in hind sight I shouldn't have committed the file. The file should be updated to work with TheAlgorithm handle.

[2021-02-18 11:04] cclauss opened #272 "Algorithms that have no tests"
From our GitHub Actions...
`go test $(go list ./... | grep -v /sbom | grep -v /rsa)`
* [ ] ciphers	[no test files]
* [ ] datastructures/binary-tree	[no test files]
* [ ] datastructures/dynamic-array	[no test files]
* [ ] datastructures/linkedlist/doublylinkedlist	[no test files]
* [ ] graphs/breathfirstsearch	[no test files]
* [ ] graphs/depthfirstsearch	[no test files]
* [ ] graphs/floydwarshall

[2021-02-18 11:13] cclauss commented on #271
Can you please submit a PR to fix that and also upgrade go v1.14 --> v1.15 in `go.mod` ?

[2021-02-18 12:18] tjgurwara99 commented on #271
Sure, will do that now.

[2021-02-18 13:33] cclauss commented on #271
Closed in #273

[2021-02-18 13:33] #271 closed

[2021-02-22 23:19] tjgurwara99 opened #276 "Bug: The go.mod file in the tag v0.0.1 is incorrect/didn't get updated with the newest master PR"
**Describe the bug**

The go.mod file in the tag v0.0.1 is incorrect and still contains my GitHub handle for the Go repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'tag v0.0.1'
2. Click on 'go.mod'
3. See the first line

**Expected behavior**
The first line should be `module github.com/TheAlgorithms/Go` instead of `module github.com/tjgurwara99/Go`
Also the required module

[2021-02-22 23:21] tjgurwara99 commented on #276
This [gist](https://gist.github.com/danielestevez/2044589) might be useful for this.

[2021-02-23 15:26] tjgurwara99 opened #277 "Feat: Consider adding proper documentation for algorithms"
**Description**
Currently the repository is in a good condition to start thinking about how to better explain things to students. I personally use TheAlgorithms repositories for inspiration, so I think it should be great if we can start writing good documentation which can make it easier for us students to understand the nitty-gritty of algorithms better.

For new implementation:
- Documentation:

[2021-02-23 18:22] kAvEh-- opened #278 "Fix Graphs/BFS implementation."
For disconnected graphs like the below graph, it will catch in an infinite loop.
Also, this implementation doesn't support the directional graphs.

For more info [this link](https://stackoverflow.com/questions/41844408/dfs-on-disconnected-graphs) will help

[2021-02-25 14:09] tjgurwara99 commented on #276
@cclauss have you had the chance to look at this? This prevents the `go get` command to receive the latest master code

[2021-02-25 14:26] #278 closed

[2021-03-02 17:30] tjgurwara99 commented on #277
Any updates?

[2021-03-02 17:32] tjgurwara99 commented on #36
I believe this issue has been resolved with the PR #266

[2021-03-07 09:30] mohamed-abdelrhman opened #290 "Implement Design patterns"
**Description**
Hello,
I think this package very good resource and I thought implementing design patterns here would be a good addition to the repo.

For new implementation:
- creational
- structural
- behavioral

What do you think and is there anyone I should add to the review?

[2021-03-07 18:08] mohamed-abdelrhman commented on #277
+1 here for the GoDoc

[2021-03-07 23:22] tjgurwara99 commented on #268
I'm rewriting this from scratch and have added a PR #288 to make it easier to separate concern of algorithms.

[2021-03-08 08:19] #268 closed

[2021-04-05 18:31] brayo-pip opened #303 "Quicksort doesn't sort in-place"
Quicksort doesn't sort in place. I was studying algorithms the other day and decided to try and implement quicksort in go. It was apparent that implementing an in place sorting algorithm would be tedious involving pointers and pointer indirection, so I decided to check the one already implemented here. And it's implementation is incorrect. It's still close enough to quicksort but the additional wo

[2021-06-09 20:17] devmaufh opened #312 "How to contribuite?"
The Contribution Guidelines  are empty.

[2021-08-19 18:12] siriak opened #317 "Big changes coming!"
Hi everyone, as you may have noticed, there's some activity going on recently in this repo. That's me cleaning it up :) I'm a new maintainer of this repo and will do my best to review and give feedback on new PRs. There are a lot of old ones at the moment and I'm not a Go expert to try and fix issues found in them on my own. So, please update your PRs by merging in the latest master branch and mak

[2021-08-20 06:30] Miraddo commented on #317
Hi Andrii, I'm glad to see you here,
And thanks for accepting my last pull request.
I'll help to make our Go repository more clear based on guidelines,
I'm not an expert as well, but I try my best to create test cases and add new algorithms to the repository.

[2021-08-20 06:59] Miraddo commented on #312
Fixed on #313 pull request

[2021-08-20 16:16] #312 closed

[2021-08-20 17:27] tjgurwara99 opened #319 "Package names and file names are not idiomatic"
**Description**

Title is self explanatory. The Go idiomatic style of package name is very different from the recent merge of #313 . For reference see this blog post on [go.dev](https://go.dev/blog/package-names). The relevant line states that, "Good package names are short and clear. They are **lower case**, with **no under_scores** or **mixedCaps**."

In #313 the author has changed old names wit

[2021-08-21 04:35] siriak commented on #303
Hi, could you add a PR number here? I'll gladly review it. I totally agree with you that this bug should be addressed.

[2021-08-22 14:57] tjgurwara99 commented on #303
I think the author has solved this in this a26459b.

[2021-08-25 04:28] siriak commented on #319
Closed by #320

[2021-08-25 04:28] #319 closed

[2021-08-28 13:06] tjgurwara99 commented on #272
This is an updated list of missing tests:

* [ ]       github.com/TheAlgorithms/Go/data_structures/binary_tree [no test files]
* [ ]       github.com/TheAlgorithms/Go/data_structures/set [no test files]
* [ ]       github.com/TheAlgorithms/Go/genetic_algorithm   [no test files]
* [ ]       github.com/TheAlgorithms/Go/graphs/depth_first_search   [no test files]
* [ ]       github.com/TheAlgorithms/

[2021-08-28 15:24] tjgurwara99 commented on #198
closed in #266

[2021-08-29 07:51] #198 closed

[2021-09-04 05:10] #152 closed

[2021-09-04 05:10] #36 closed

[2021-09-04 05:10] #37 closed

[2021-09-04 05:10] #269 closed

[2021-09-04 05:10] #303 closed

[2021-09-05 08:21] raklaptudirm opened #335 "Remove commented code."
Many files have code which is commented out (Especially main functions as tests). Remove them and write proper tests.

[2021-09-07 11:59] tjgurwara99 commented on #277
current up to date (as of 7 Sep 2021) documentation [TheAlgorithms/Go docs](https://pkg.go.dev/github.com/TheAlgorithms/Go)

[2021-09-07 20:01] tjgurwara99 commented on #145
Closing this to keep track of this issue under a unified issue #272

[2021-09-07 20:01] #145 closed

[2021-09-07 22:12] tjgurwara99 commented on #272
We need tests for the following algorithms:

* [ ]     github.com/TheAlgorithms/Go/strings/bom [no test files]
* [ ]     github.com/TheAlgorithms/Go/strings/combination [no test files]
* [ ]     github.com/TheAlgorithms/Go/strings/horspool    [no test files]
* [ ]     github.com/TheAlgorithms/Go/structure/binarytree        [no test files]
* [ ]      github.com/TheAlgorithms/Go/structure/set

[2021-09-08 05:12] siriak commented on #272
Let's remove github.com/TheAlgorithms/Go/other/password since it's not a useful well-known algorithm. I agree to add empty test files as you described.

[2021-09-08 06:03] cclauss commented on #272
I don't think that the collection of algorithms should be a popularity contest.  I believe that some basic tests can be done on the generated passwords even if we do not know what they are beforehand.  These days every system that takes a password has tests to ensure that the password is at least a certain number of characters, contains at least one lowercase character, at least one uppercase char

[2021-09-09 09:17] raklaptudirm commented on #272
The thing is, generating password have many different approaches. Even if you select 3-4 random english words for your password, mathematically, it will be really hard to brute force, even when there is no special characters or different cases.

![A little image](https://dropbox.tech/cms/content/dam/dropbox/tech-blog/en-us/2012/04/password_strength.png)

[2021-09-10 00:04] tjgurwara99 opened #343 "Consider adding ExampleAlgorithms in the packages."
**Description**
The ExampleAlgorithm function gives a actual runnable block of code for the specified algorithms which works automatically in the documentation - ref [here](https://golang.org/src/go/doc/example.go). It's kind of similar to the main function that many people submit in the repository. An example in our repository is given [here](https://pkg.go.dev/github.com/TheAlgorithms/Go@v0.0.2-

[2021-09-10 06:14] oskarwojciski opened #344 "Directory tree is not reflected properly in readme"
**Describe the bug**
The readme contains links to files in different directories than actual ones. For example, directory is `cipher` and readme is linking to `ciphers`

[2021-09-10 08:22] siriak commented on #344
Thanks for bringing this up, could you make a pr to fix that?

[2021-09-10 20:19] tjgurwara99 commented on #344
Thanks for raising this and opening the PR. I'm currently working on a tool to automate this but it will take some time as I only get time in the weekends 😅.

[2021-09-12 19:49] oskarwojciski commented on #344
So far the issue is fixed. I think that automated tool will be much more reliable, but for now, I am closing the issue :)

[2021-09-12 19:49] #344 closed

[2021-09-24 05:56] #317 closed

[2021-09-24 05:58] #343 closed

[2021-09-24 05:58] #335 closed

[2021-09-24 05:58] #277 closed

[2021-09-24 05:58] #272 closed

[2021-09-28 15:22] lostbearlabs opened #359 "the "Code Formatter" section of CONTRIBUTING.md just contains go installation instructions"
**Describe the bug**

In the file CONTRIBUTING.md, there is a section with the heading  "Code Formatter".  This section describes how to install go, and it has build instructions that may be out of date since they refer to the nonexistent file "main.go"

**To Reproduce**
Steps to reproduce the behavior:
1. View the file https://github.com/TheAlgorithms/Go/blob/master/CONTRIBUTING.md

**Expected be

[2021-09-29 17:06] tjgurwara99 commented on #359
Agreed, it should be updated. Feel free to open a PR for it. Me and other maintainers would be happy to take a look.

[2021-10-05 09:04] nikzayn commented on #359
I would like to take this one issue

[2021-10-05 17:14] #359 closed

[2021-10-25 18:39] meetvalani opened #419 "Use generics in sorting algorithms"
**Description**
IMO algorithm should be working on data type `float64` instead of `int`.

For enhancement:
- All the algorithms should be converted to use `float64` as an arguments. Followings are the possible enhancements.
    - User must handle the type conversion of `int` to `float64`.
    - Should provide both type where `int` internally uses `float64` related function.

[2021-10-28 13:36] cclauss opened #422 "Does the LGTM tool ever find any issues that are useful to fix???"
For Python, the LGTM tool is nearly useless so we got rid of it.  Is the same true for Go?

[2021-11-03 01:19] zhuobo opened #428 "The AddAtEnd function of singlylinkedlist has a fixed argument type of int"
**Describe the bug**
The AddAtEnd function of singlylinkedlist has a fixed argument type of int, so it can only add nodes of type int to the single linked list.
file: structure/linkedlist/singlyinkedlist.go
function: AddAtEnd(val int)

**Expected behavior**
Any type of value can be added to a single linked list.

[2021-11-03 16:24] tjgurwara99 commented on #428
This requires you to change the whole implementation and when using you would have to manually type check everything. This is a learning repository so I don't think it makes sense to make using linked list complicated.

Consider this:

type Ll struct {
    val interface{}
}

func check(list []Ll) bool {
     for _, li := range list {
         switch li.(type) {
         case Type1:

[2021-11-03 16:28] raklaptudirm commented on #428
Absolutely. These types of changes make sense for this repository only when the algorithm is not that complicated to turn into a generic.

[2021-11-03 16:46] siriak commented on #428
Shall we implement this one once generics are in place?

[2021-11-03 16:55] raklaptudirm commented on #428
Depends on how they are implemented, I do not think their syntax is finalized.

[2021-11-03 18:42] siriak commented on #428
Well, having thought of it for a while, I don't think there's a need for a separate issue for every part where we could use generics in the future as there are a lot of such places

[2021-11-04 10:33] #428 closed

[2021-11-04 10:52] tjgurwara99 commented on #428
Apologies, I take back what I said, they will be very similar to how they work on other languages. The only difference would be the implementation details. I think it's currently looking very promising. I'm excited for this now!!

[2021-11-04 10:53] tjgurwara99 commented on #419
In case someone wants to experiment with generics [here](https://go2goplay.golang.org) is the link to the GoTip playground to test out new features 😄

[2021-11-11 05:13] anirudnits opened #436 "Graphs: Articulation Points"
**Description**
Implement an algorithm to decide whether a vertex is a cut-vertex or not. The algorithm will return a list of boolean with the `i`th index representing whether the vertex `i` is a cut-vertex or not.

For new implementation:
- Articulation Points/Cut vertices are special vertices in bi-connected graphs which when removed decomposes the graph into two or more connected sub-graphs htt

[2021-12-20 00:07] #436 closed

[2022-01-11 13:32] anirudnits opened #460 "Optimized nlogn approach for longest increasing sub-sequence"
**Description**
The dynamic programming approach for finding the longest increasing sub-sequence in `O(n^2)` within an integer array is defined here: https://github.com/TheAlgorithms/Go/blob/master/dynamic/longestincreasingsubsequence.go. However, there's a greedy approach which solves the problem in `O(nlogn)`.

For enhancement:
   - Greedy logic for finding the longest increasing sub-sequence in

[2022-01-16 20:05] tjgurwara99 commented on #460
I don't think you need to open issues when you're thinking of adding an algorithm to the repository. Just open a PR and the maintainers will take a look.

[2022-01-28 14:24] siriak commented on #460
On the other hand, it gives a leg up to other folks who might be interested in contributing, doesn't it? There's nothing wrong with having a backlog of up-for-grabs issues IMO.

[2022-02-01 09:17] MunimAkbar opened #464 "Hello"
**Description**
Provide a clear and concise description of  the issue.

For new implementation:
- Name and problem statement for the algorithm.

For enhancement:
- Specify what needs to be changed and why. For example:
   - Adding tests.
   - Optimizing logic.
   - Refactoring file and folders for better structure.

[2022-02-01 09:17] #464 closed

[2022-02-03 22:38] Mohamadrezashiri1 opened #467 "func isValidIranianNationalCode(input string) bool { for i := 0; i < 10; i++ { if input[i] < '0' || input[i] > '9' { return false } } check := int(input[9] - '0') sum := 0 for i := 0; i < 9; i++ { sum += int(input[i]-'0') * (10 - i) } sum %= 11 return (sum < 2 && check == sum) || (sum >= 2 && check+sum == 11) }"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2022-02-03 22:45] Mohamadrezashiri1 opened #468 "func isValidIranianNationalCode(input string) bool { for i := 7; i < 0070416567; i++ { if input[i] < '7' || input[i] > '007041656' { return false } } check := int(input[007041656] - '7') sum := 7 for i := 7; i < 007041656; i++ { sum += int(input[i]-'7') * (0070416567 - i) } sum %= 11 return (sum < 2 && check == sum) || (sum >= 2 && check+sum == 11) }"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2022-02-04 05:09] raklaptudirm commented on #467
Please provide more context to the problem.

[2022-02-04 05:09] raklaptudirm commented on #468
Please provide more context to the problem.

[2022-02-05 19:46] #468 closed

[2022-02-05 19:46] #467 closed

[2022-03-08 14:41] jsrdxzw opened #472 "feat: implementation of find kth element in array"
**Description**
An implementation of finding kth largest or smallest element in random array by using quick sort thinking

[2022-03-11 11:37] tjgurwara99 commented on #472
Closed with #473

[2022-03-11 11:37] #472 closed

[2022-03-23 19:58] paul-leydier opened #478 "Bump Go to 1.18 for generics implementation"
Hi everyone!

I was wondering, what is your position regarding the implementation of algorithms using generics on this repo?

Are you waiting a bit longer before upgrading to [go 1.18](https://tip.golang.org/doc/go1.18), or should we do it now so that we can already start getting hands-on experience with generics?

If so, I recommend using the constraints defined in [golang.org/x/exp/constraints](

[2022-03-23 21:33] tjgurwara99 commented on #478
I'm more than happy to bump the version now and I was thinking to start it but we need to do a bit of cleanup of the repository structure. Currently its all over the place 😓

I'll be opening a series of PR's to make these changes in an incremental (and traceable) way – will keep posting updates on this issue.

[2022-03-23 21:50] tjgurwara99 commented on #422
Should we get rid of it? I don't think LGTM is useful at all for us - in fact, it slows down the workflows passing.

[2022-03-24 05:12] raklaptudirm commented on #422
I think we should get rid of it.

[2022-03-24 16:24] raklaptudirm opened #480 "Add `FuzzXxx` tests to cipher algorithms"
**Description**
Use the new `go1.18` `FuzzXxx` tests to test cipher algorithm encryption and decryption.
The tests should accept fuzzed strings, encrypt then decrypt them, and check for equality with the original. This can help catch more elusive bugs in the code.

[2022-03-27 16:34] tjgurwara99 commented on #419
closed in #483

[2022-03-27 16:34] tjgurwara99 commented on #478
closed in #483

[2022-03-27 16:34] #478 closed

[2022-03-27 16:37] tjgurwara99 commented on #419
Closed by mistake, we still have three sorting algorithms that need to be modified to use the generic. Heap sort, radix sort and pigeonhole sort all require some refactoring for us to be able to convert them to generic sorting algorithms.

[2022-03-27 16:38] tjgurwara99 commented on #422
@siriak Do you have permission to remove the LGTM analysis from this repo? If so, could you remove it?

[2022-03-27 19:49] siriak commented on #422
I don't have, this this needs to be done via their website

[2022-03-27 20:10] cclauss commented on #422
@poyea ?

[2022-03-29 03:30] poyea commented on #422
@cclauss I think it depends on what else does the Go repository have. If there are enough checks, I think it makes perfect sense to deprecate it. I assume @dynamitechetan or the owners should have rights to disable it?

[2022-03-29 03:52] cclauss commented on #422
https://github.com/TheAlgorithms/Go/tree/master/.github/workflows seems to provide appropriate (and fast) test coverage.

[2022-03-29 03:56] poyea commented on #422
I believe so. I think any maintainers can disable it on their website then. cc @AnupKumarPanwar

[2022-03-29 12:19] tjgurwara99 commented on #422
<img width="1677" alt="Screenshot 2022-03-29 at 13 17 52" src="https://user-images.githubusercontent.com/21105489/160609453-7af7c1a9-09a0-4442-80fe-43ca3b7f4c2c.png">

Maintainers can't do that unfortunately - only admins can. cc @siriak

[2022-03-29 14:32] #422 closed, assigned to nobody

[2022-04-06 11:35] tjgurwara99 opened #490 "Feat: Consider adding code scanning alerts"
**Description**
Now that we have removed LGTM from this repo, I think its worth considering adding CodeScanning to this repository. It's quite similar to LGTM in a lot of ways but there are subtle differences that may be quite useful but at the same time it might be redundant so thought I should open it here and trial it out. What do you guys think?

For enhancement:
- Enable CodeScanning in this

[2022-04-09 13:55] siriak commented on #490
Can we close this one?

[2022-04-09 15:44] raklaptudirm commented on #490
We still do not have any updates on wether the scanning is really necessary, so leave it open.

[2022-04-21 01:20] Daesar opened #498 "CONTRIBUTING.md: reviewer code link is broken"
**Can not open the reviewer code link**
In Go/CONTRIBUTING.md file,
<img width="637" alt="image" src="https://user-images.githubusercontent.com/38687899/164352063-51b1d22e-eec0-4388-82bf-7737f80fe13c.png">
the **reviewer code**link is  unreachable.

**To Reproduce**
1. Go to 'go/CONTRIBUTING'
2. Click on 'reviewer code'
3. See error

[2022-04-25 15:29] raklaptudirm opened #502 "go1.18: change `interface{}` to `any`"
Change usage of `interface{}` to `any` using the new go1.18 alias.
[code]

[2022-04-28 13:27] #498 closed

[2022-05-06 18:23] ritikBhandari commented on #502
So it means wherever `interface{}` is used, it must be replaced by `any`. Right?

[2022-05-07 04:06] raklaptudirm commented on #502
@ritikBhandari Yes.

[2022-05-07 04:27] ritikBhandari commented on #502
Can I take up the issue?

[2022-05-07 04:31] ritikBhandari commented on #502
So this has to be resolved in `Contributing.md` only? Not any other file?

[2022-05-07 09:50] ritikBhandari commented on #502
@raklaptudirm the picture you have put shows all the files and folders that include `interface{}` keyword. Right?

[2022-05-07 12:13] raklaptudirm commented on #502
Yes, and it is just text, so you can copy it if you need.

[2022-05-07 13:29] ritikBhandari commented on #502
Sure. Thanks

[2022-05-07 17:13] ritikBhandari commented on #502
@raklaptudirm in `structure/hashmap/hashmap.go` there are 16 `interface{}` keywords but you've put only 8 of them. Is it intentional?

[2022-05-08 06:58] raklaptudirm commented on #502
No, change all instances to any.

[2022-05-08 07:08] ritikBhandari commented on #502
Done already.

[2022-05-08 07:35] #502 closed

[2022-05-10 03:04] raklaptudirm commented on #490
@tjgurwara99 @siriak What are your opinions, is the code scanning necessary?

[2022-05-10 08:54] tjgurwara99 commented on #490
I think it's not useful for Go, we can remove it from the repo.

[2022-05-10 17:16] #490 closed

[2022-06-26 17:08] tjgurwara99 opened #510 "Fix: Enable all the disabled linters once Go 1.18 are supported by them"
**Describe the bug**
Currently, the PR #509 disabled some of the `golangci-lint` linters since those linters don't completely support `Go 1.18` generics. Hence, they have been disabled here until there is progress on `golangci-lint` and the linters that `golangci-lint` uses on their support for generics.

NOTE: This issue is only relevant if #509 gets merged.

[2022-07-02 17:41] jaiswalpuru commented on #419
Can I pick this up ?

[2022-07-15 12:35] AFMahmuda opened #513 "CONTRIBUTING.md: markdown format improvement"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. go to [CONTRIBUTING.md#contributing](https://github.com/TheAlgorithms/Go/blob/master/CONTRIBUTING.md#contributing)
2. try to read this part
![image](https://user-images.githubusercontent.com/10903985/179223351-f23576de-21c4-4d0d-bebd-055cb43c3524.png)
3. get confused:
  *

[2022-07-25 20:30] #513 closed

[2022-08-29 11:30] itsAkshayDubey opened #529 "Möbius function implementation"
Hi,

I have not seen any implementation of [Möbius function](https://en.wikipedia.org/wiki/M%C3%B6bius_function) in this repo.
Could you please assign this issue to me?

Regards,
Akshay

[2022-08-31 11:34] itsAkshayDubey opened #531 "LFU cache implementation"
Hi,

I have not seen any implementation of [least frequently used cache](https://en.m.wikipedia.org/wiki/Least_frequently_used) in this repo.
Could you please assign this issue to me?

Regards,
Akshay

[2022-09-07 10:20] itsAkshayDubey opened #535 "Binomial Coefficient implementation"
Hi,

I have not seen any implementation of [Binomial Coefficient](https://en.wikipedia.org/wiki/Binomial_coefficient) in this repo.
Could you please assign this issue to me?

Regards,
Akshay

[2022-09-07 12:21] raklaptudirm commented on #535
No need to open issues for implementing algorithms.

[2022-09-10 03:17] #529 closed

[2022-09-16 00:55] #535 closed

[2022-09-23 08:44] #510 closed

[2022-09-29 04:10] BulkBeing opened #542 "Use slice appending instead of insertion at zeroth index in stack array"
**Description**
Provide a clear and concise description of  the issue.

For new implementation:
- Name and problem statement for the algorithm.

For enhancement:
- Specify what needs to be changed and why. For example:
   - Adding tests.
   - Optimizing logic.
   - Refactoring file and folders for better structure.

[2022-09-29 04:26] BulkBeing opened #543 "Use slice appending instead of insertion at zeroth index in "stack array" implementation"
**Description**
Current [stack array](https://github.com/TheAlgorithms/Go/blob/eaa2be2ffe9295b9eb996ec49af6e0e2e6381595/structure/stack/stackarray.go) implementation stores the last inserted value at zeroth index of the backing slice. This is inefficient as each push operation will require a new allocation and copying of contents in the current slice.
[code]
Inserting latest element to the last in

[2022-09-29 05:23] raklaptudirm commented on #543
Feel free to open a pull request fixing this issue.

[2022-10-01 19:46] jonatan5524 opened #548 "Renaming files"
**Describe the bug**
There are some algorithms, I saw specific in searches but maybe there are more, like Binary search where The file name in the repository is binary, but in all other languages are binarySearch or something like that.
That causes the website not to present the Go language option on the Binary Search page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://the-al

[2022-10-02 15:00] HectorMalot commented on #480
I looked at this for a bit, but have a few questions for the fuzzing. As I'm writing the tests, I'm finding some edge cases and wanted to ask first if/how you want algorithms to change

1. For rot13/caesar encryption: the current algorithms only expect a-zA-Z as input, but don't validate this. This can be either be solved on the fuzzer (only allowing valid inputs), or on the algorithm (providing a

[2022-10-02 16:42] tjgurwara99 commented on #548
This is not the issue for this repository to fix. It's an issue that cannot be fixed if we want to keep to Go idioms since the idioms are in direct conflict with the naming conventions in other language.

[2022-10-02 18:12] mohamedspicer commented on #419
@tjgurwara99 can you assign this to me

[2022-10-02 18:38] tjgurwara99 commented on #419
You don't need an assignment of issues. Feel free to open a PR and we would review it 😄

[2022-10-03 09:31] sandyydk commented on #531
@raklaptudirm Can I pick this up?

[2022-10-03 13:41] raklaptudirm commented on #531
@sandyydk Sure.

[2022-10-03 13:43] raklaptudirm commented on #548
We are trying to update the website code to fix this issue. Closing since the issue is not with this repo.

[2022-10-03 13:43] #548 closed

[2022-10-07 10:23] CorentinGS opened #552 "Mergesort using goroutines"
**Description**
It would be interesting to add a mergesort algorithm that uses goroutines. It's a good way to show how routines can be used to improve classical algorithm.

For enhancement:
- Add a ParallelMergesort function that use goroutines
- Benchmark & test it and compare how it performs against classical mergesort

I can do a pr in the weekend if you are ok with that suggestion.

[2022-10-07 11:51] raklaptudirm commented on #552
Don't open issues for missing implementations. Just create a pull request and we will review it.

[2022-10-08 10:59] the-pinbo opened #557 "Adding functionality to delete from middle of a linkedlist"
**Description**
The linkedlist package implemented does not have a function to remove a node from the middle of the list

For new implementation:
- Add a function which removes an element form the middle

For enhancement:
- Implement remove function in [file](https://github.com/TheAlgorithms/Go/blob/eaa2be2ffe9295b9eb996ec49af6e0e2e6381595/structure/linkedlist/doubly.go#L18)
   - Let's say we have

[2022-10-08 17:58] #557 closed

[2022-10-09 07:58] irfansofyana opened #563 "Binary Indexed Tree (BIT) / Fenwick Tree Data structure"
**Description**

Binary Indexed Tree (BIT) or sometimes people called fenwick tree is a data structure that can be used to efficiently update elements and calculate [prefix sums](https://en.wikipedia.org/wiki/Prefix_sum) in a table of numbers.

Details: https://en.wikipedia.org/wiki/Fenwick_tree

For new implementation:
- Problem statement:

1 Compute the sum of the first i elements.
2 Modify the

[2022-10-09 08:00] irfansofyana commented on #563
I will be happy to work on this issue if it's okay

[2022-10-09 12:17] raklaptudirm commented on #563
No need to open issues for missing implementations. Just open a pr and we will review it.

[2022-10-10 17:37] VUHAILAM commented on #419
I researched radix sort can apply for string: [](https://www.quora.com/How-can-I-sort-strings-using-Radix-Sort). But our radix sort is only for Integer. Should we implement another radix sort can apply both??

[2022-10-10 22:06] tjgurwara99 commented on #419
Yes, therefore we have this issue to convert it to a generic one.

Radix sort is **Radix sort**, therefore there is really no difference in them unless you take a radically novel approach to writing this algorithm. Therefore, my suggestion is to modify the existing one, **unless** your implementation is resulting in a difference in complexity (either space or time)

[2022-10-12 04:52] raklaptudirm commented on #531
Just open a pr and we will review it

[2022-10-14 08:34] siriak commented on #480
1. Validate input in the algorithm
2. Option 1 or 2 whichever is simpler

[2022-10-14 09:28] #552 closed

[2022-10-16 22:04] vil02 opened #575 "tests in `search`"
The [_search functions_](https://github.com/TheAlgorithms/Go/tree/master/search) cannot be treated _uniformly_ in tests. The issue arises when the input array contains duplicated entries.

Consider the example when we want to fund the index of `4` in the array `[1, 2, 4, 4, 4, 6, 7, 8, 9, 10]` (note that the array is sorted):
- [`Binary`](https://github.com/TheAlgorithms/Go/blob/d61cee077bf76f9bc5

[2022-10-19 15:49] Nd1097 commented on #575
Hello, would like to contribute to this. Can you assign the task?

[2022-10-24 18:23] siriak commented on #575
I agree with `for example the Interpolation function could be simplified to find some index`. @vil02 do you want to implement this yourself?

[2022-10-24 18:37] Panquesito7 opened #592 "[OTHER] Add a GitHub Actions workflow to generate `DIRECTORY.md`"
### What would you like to share?

To make the algorithm addition process easier, we can make a GitHub Actions workflow to generate a `DIRECTORY.md` file.
Many repositories in the organization do this to keep things organized. We can use the workflow from the [**C++ repository**](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/.github/workflows/awesome_workflow.yml#L49).

What do you thin

[2022-10-25 09:06] raklaptudirm commented on #592
We already maintain a list of algorithms in our <samp>README.md</samp>.

[2022-10-25 09:06] #592 closed

[2022-10-30 20:02] vil02 commented on #575
I think @Nd1097 wanted to do it. If there will be no other volunteer you can assign me.

[2022-10-31 17:26] mcaci commented on #480
Hi everyone, I have been adding some fuzz tests lately to contribute to this issue. I think now once these PRs are good on your side and merged there should be no more work to do on this issue. Let me know if you have any feedbacks about this. Thanks again!

[2022-11-20 00:12] #531 closed

[2022-11-22 00:12] #563 closed